[submodule "terrain_following_mesh_generator"]
	path = terrain_following_mesh_generator
	url = git@github.com:souravsud/terrain_following_mesh_generator.git
[submodule "inlet_profile_generator"]
    path = inlet_profile_generator
    url = git@github.com:souravsud/inletProfileGenerationTool.git
